.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  }
  
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #894668;
  cursor: pointer;
}
  
.link {
  margin-left: 1rem;
  background: none;
  border: none;
  color: #894668;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.link:hover {
  color: #ba6f95;
}
  
.username {
  color: #894668;
}

.searchbar {
  display: flex;
  flex: 1;
  max-width: 600px;
  margin: 0 24px;
  color: white;
}

.searchInput {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc ;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  background-color: white;
}

.searchbutton {
  padding: 8px 16px;
  background-color: white;
  color: #555;
  border:none ;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  border: 1px solid #ccc ;

}

.searchForm {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}